.footer {
  position: relative;
  overflow: hidden;
  background: linear-gradient(90deg, #1A428A 0%, #48BEA0 100%);
  color: #fff;
  padding: 40px 20px 20px;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url('../images/bg-footer.svg') no-repeat center/cover;
    z-index: -1;
    opacity: 0.2;
  }

  .main-container {
    display: flex;
    flex-direction: column;

    .footer-logo {
      height: auto;
      margin: 0 auto 60px;
    }

    .footer-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;

      .footer-left {
        .social-icons {
          display: flex;
          align-items: center;
          gap: 16px;

          a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background: var(--color-white);

            i {
              font-size: clamp(16px, 2vw, 24px);
              color: var(--color-Primary1);
              transition: transform 0.3s ease, color 0.3s ease;
            }

            &:hover i {
              transform: scale(1.2);
              color: var(--color-Primary2);
            }
          }
        }
      }

      .footer-right {
        a {
          color: #fff;
          margin: 0 5px;
          font-size: clamp(8px, 2vw, 16px);
          font-weight: 600;
          transition: all 0.5s ease-in-out;
        }

        &:hover {
          text-decoration: underline !important;
        }
      }
    }

    .end-page {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      border-top: 1px solid var(--color-border);
      padding-top: 20px;
      font-size: clamp(8px, 2vw, 12px);

      p,
      a {
        color: var(--color-white);

        display: block;
        i {
          color: #FF3B30;
          animation: heartbeat 1.2s infinite;
          display: inline-block;
        }

        
      }
    }
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}


.remove-mune {
  position: absolute;
  top: 30px;
  left: 10px;
  background-color: var(--color-Primary5);
  border-radius: 10px;
  padding: 5px;
}

.remove-mune span {
  width: 30px;
  height: 30px;
  display: block;
  transition: all 0.2s linear;
  position: relative;
  cursor: pointer;
  transform: rotate(0deg);

  transition-delay: 0.8s;
}

.remove-mune span::after {
  content: "";
  height: 2px;
  background-color: #54595f;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  transition: all 0.6s linear;
}

.remove-mune span::before {
  content: "";
  height: 2px;
  background-color: #54595f;
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
  width: 100%;
  transition: all 0.2s linear;

  transition-delay: 0.6s;
}


.menu_responsive.active .remove-mune span::before {
  transform: rotate(90deg) translateY(0%);
}

.menu_responsive.active .remove-mune span {
  transform: rotate(45deg);
}

.element_menu_responsive ul li {
  transform: translateY(100%);
  transition: all 0.2s linear;
  transition-delay: 0.4s;
  display: block;
  opacity: 0;
}

.menu_responsive {
  transition-delay: 1s;
}

.menu_responsive.active {
  transition-delay: 0.3s;
}

.menu_responsive.active .element_menu_responsive ul li {
  transform: translateY(0%);
}

.menu_responsive.active .element_menu_responsive ul li:nth-of-type(1) {
  transition-delay: 0.4s;
  opacity: 1;
}

.menu_responsive.active .element_menu_responsive ul li:nth-of-type(2) {
  transition-delay: 0.6s;
  opacity: 1;
}

.menu_responsive.active .element_menu_responsive ul li:nth-of-type(3) {
  transition-delay: 0.8s;
  opacity: 1;
}

.menu_responsive.active .element_menu_responsive ul li:nth-of-type(4) {
  transition-delay: 1s;
  opacity: 1;
}

.menu_responsive.active .element_menu_responsive ul li:nth-of-type(5) {
  transition-delay: 1.2s;
  opacity: 1;
}

.menu_responsive.active .element_menu_responsive ul li:nth-of-type(6) {
  transition-delay: 1.4s;
  opacity: 1;
}

.menu_responsive.active .element_menu_responsive ul li:nth-of-type(7) {
  transition-delay: 1.6s;
  opacity: 1;
}

.menu_responsive.active .element_menu_responsive ul li:nth-of-type(8) {
  transition-delay: 1.8s;
  opacity: 1;
}

.menu_responsive.active .element_menu_responsive ul li:nth-of-type(9) {
  transition-delay: 2s;
  opacity: 1;
}

.menu_responsive.active .element_menu_responsive ul li:nth-of-type(10) {
  transition-delay: 2.2s;
  opacity: 1;
}

.menu_responsive.active .element_menu_responsive ul li:nth-of-type(11) {
  transition-delay: 2.4s;
  opacity: 1;
}

.menu_responsive.active .element_menu_responsive ul li:nth-of-type(12) {
  transition-delay: 2.6s;
  opacity: 1;
}

.menu_responsive.active .element_menu_responsive ul li:nth-of-type(13) {
  transition-delay: 2.8s;
  opacity: 1;
}

.menu_responsive.active .element_menu_responsive ul li:nth-of-type(14) {
  transition-delay: 3s;
  opacity: 1;
}