.footer {
    position: relative;
    overflow: hidden;
    background: linear-gradient(276.53deg, #59C1AC 0%, #275C51 100%);
    color: #fff;
    padding: 40px 20px 20px;
    z-index: 1;
}
.footer::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url('../images/bg-footer.png') no-repeat center/cover;
    z-index: -1;
    opacity: 0.4;
}
.footer .main-container{
    display: flex;
    flex-direction: column;
}
.footer-logo {
    height: auto;
    margin: 0 auto 60px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.social-icons {
    display: flex;
    align-items: center;
    gap:16px;
}
.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px ;
    height: 35px ;
    border-radius: 50%;
    background: var(--color-white);
}
.social-icons a i {
    font-size: clamp(16px, 2vw, 24px);
    color: var(--color-Primary1);
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover i {
    transform: scale(1.2);
    color: var(--color-Primary2);
}

.footer-right a {
    color: #fff;
    margin: 0 5px;
    font-size: clamp(8px,2vw,16px);
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}

.footer-right a:hover {
    text-decoration: underline !important;
}

.end-page {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-top: 1px solid var(--color-border);
    padding-top: 20px;
    font-size: clamp(8px, 2vw, 12px);
}
.end-page p,
.end-page a{
    color: var(--color-white);
}
.end-page a i{
    color: #FF3B30;
}

/* ================= Responsive ================= */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-left {
        flex-direction: column;
        gap: 10px;
    }
    .end-page{
        text-align: center;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }

}