header{
    height: 100vh;
   
    display: flex;
    flex-direction: column;
}

.top-bar {
    padding: 20px 0;
    height: 85px;
}

.top-bar .main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.media-header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.media-header ul li a {
    width: 45px;
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: center;
    color: var(--color-Primary2);
    z-index: 1;
    border-radius: 50%;
    transition: all .3s linear;
    position: relative;
    border: 1px solid var(--color-Primary2);
}

.media-header ul li a::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    height: 95%;
    width: 95%;
    right: 0;
    border-radius: 50%;
    transform: scale(0);
    transition: all .2s linear;
    z-index: -1;
    background-color: var(--color-Primary2);
    left: 0;
    margin: auto;
}

.media-header ul li a:hover i {
    /* animation: infinite; */
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.media-header ul li a:hover {
    color: var(--color-white);
}

.media-header ul li a:hover::after {
    transform: scale(1);
}

.btns-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.language {
    display: flex;
    transition: all .3s linear;
    align-items: center;
    gap: 5px;
}

.language:hover {
    color: var(--color-Primary2);
}

.language:hover i {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}



.nav-bar {
    display: flex;
    background-color: var(--color-white);
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
    height: 85px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.nav-bar .main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.nav-bar .element {
    height: 100%;
}
.nav-bar img {
    height: 70%;
    object-fit: contain;
}
.nav-bar a {
    color: var(--color-text);
}

.element>ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
}

.element>ul>li {
    position: relative;
    height: 100%;
}

.element>ul>li>a {
    padding: 25px 0;
    font-family: 'font_main';
    display: flex;
    transition: all .3s linear;

    align-items: center;
    align-items: center;
    font-size: 16px;
    gap: 10px;
    height: 100%;

}



.element ul li a {
    position: relative;
    transition: all .3s linear;
}

.element ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0%;
    right: 0;
    left: 0;
    transition: all .3s linear;
    height: 2px;
    z-index: 2;
    background-color: var(--color-Primary1);
}


.element>ul>li a:hover ,
.element>ul>li.active a{
    color: var(--color-Primary1);
}

.element>ul>li.active a::after ,
.element ul li a:hover::after {
    width: 100%;
}


.element>ul>li.active a svg path {
    fill: var(--color-Primary1);
    transition: all .3s linear;
}

.element ul li a:hover svg path {
    fill: var(--color-Primary1);
    transition: all .3s linear;
}

.element>ul>li>a i {
    line-height: 0;

    padding-top: 5px;
}

.drop-element {
    top: 100%;
    background-color: var(--color-Primary1);
    width: 200px;
    opacity: 0;
    transition: all .3s linear;
    z-index: 2;
    user-select: none;
    overflow: hidden;
    position: absolute;
    border-radius: 10px;
    transition: all .3s linear;
    box-shadow: 0 2px 5px #ffffffad;
}

.element>ul>li:hover .drop-element {
    opacity: 1;

}

.drop-element ul li a {
    padding: 10px 15px;
    font-size: 15px;
    display: flex;
    position: relative;
}


/* hero section */

.hero{
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}


.hero .right-vector{
    position: absolute;
    inset: 0;
    z-index: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}
.hero .right-vector img {
    height: 100%;
    object-fit: contain;
}

.hero .left-vector{
    position: absolute;
    inset: 0;
    z-index: 0;
    left: 0;
    bottom: 0;
    height: 100%;
}
.hero .left-vector img {

    height: 100%;
    object-fit: contain;
}


.video-bg {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  .video-bg video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  
  .video-bg .content {
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  

  .video-bg p{
    color: #fff;
  }

  .video-bg::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(69, 194, 177, 0.25);
    z-index: 0;
  }
  