section {
    padding: 40px 20px;
}
/* about section style */
.about-section{
    position: relative;
    overflow: hidden;
}
.about-section::before {
    position: absolute;
    content: "";
    top: 25%;
    left: 0;
    width: 90%;
    height: 75%;
    background: url('../images/bg-card.png') no-repeat left/contain;
    z-index: -1;
    opacity: 0.2;
}
.heading-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: clamp(10px, 5vw, 40px);
    padding: clamp(10px, 3vw, 20px);
}

.section-title {
    width: fit-content;
    font-size: clamp(12px, 4vw, 18px);
    font-weight: 700;
    padding: 7px 10px;
    border: 1px solid var(--color-Primary4);
    background: var(--color-Primary4);
    color: var(--color-Primary1);
}

.heading-section {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    gap: clamp(10px, 5vw, 20px);
    padding: 20px 0;
}

.heading-section h2 {
    font-size: clamp(12px, 5vw, 28px);
    color: var(--color-black);
    font-weight: bold;
}

.heading-section p {
    max-width: 700px;
    font-weight: 500px;
    font-size: clamp(10px, 5vw, 22px);
    color: var(--color-text);
}

/* 
.card-about {
    padding: 30px 0;
} */

.box {
    border-radius: 16px;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid var(--color-Primary1);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.box:hover {
    background: var(--color-Primary1);
}

.box-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card-about .box .btn {
    display: none;
}

.card-about .box:hover .btn,
.box .btn {
    display: flex;
    align-items: center;
    padding: 0;
}

.card-about .box:hover .btn .ctm-btn {
    background: var(--color-white);
    color: var(--color-Primary1) !important;
}

.box:hover h2,
.box:hover p {
    color: var(--color-white);
}

/* about section style end */

/* section event-agenda style */
.events-agenda .box {
    position: relative;
}

.events-agenda .box .clender {
    position: absolute;
    width: clamp(40px, 5vw, 45px);
    height: clamp(40px, 5vw, 45px);
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    background: var(--color-Primary1);
    color: var(--color-white);
    top: 0px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: clamp(0px, 1vw, 2px);
    transition: all 0.5s ease-in-out;
}

.events-agenda .box:hover .clender {
    background: var(--color-white);
    color: var(--color-Primary1);
}

.clender span {
    font-size: clamp(8px, 5vw, 12px);
    font-weight: 600;
}

.events-agenda .box:hover .ctm-btn-none {
    color: var(--color-white) !important;
}

/* section event-agenda style end */

/* articles-section style */
.articles-slider {
    position: relative;
    overflow: hidden;
    background: var(--color-Primary6);
    z-index: 2;
}
.articles-slider::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    bottom: 0;
    right: 0;
    background: url('../images/bg-slider\ \(1\).png') no-repeat bottom/contain;
    z-index: -1;
    opacity: 1;
}
.articles-slider::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('../images/bg-slider\ \(2\).png') no-repeat top/contain;
    z-index: -1;
    opacity: 1;
}
.slider-track {
    display: flex;
    gap: 20px;
    will-change: transform;
}

.card-article {
    position: relative;
    overflow: hidden;
    flex: 0 0 calc(100% / 4.5);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    z-index: 2;
}


.card-article:hover {
    background: var(--color-Primary1) !important;
    padding: 10px;
}

.card-article:hover .meta,
.card-article:hover .slide-title,
.card-article:hover .ctm-btn-none {
    color: var(--color-white) !important;
}

.slider-img img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.meta {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--color-gray);
    font-size: clamp(12px, 1vw, 14px);
    margin-bottom: 8px;
}

.slide-title {
    font-size: clamp(16px, 1.4vw, 20px);
    color: var(--color-black);
}

.card-article .btn {
    padding: 0;
    margin: 0;
}

/* article-section style end */

/* contact-section style */
.contact-section {}

.contact-flex {
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.info-item {
    min-height: 130px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 8px;
}

.info-item h4 {
    font-size: clamp(10px,2vw,15px);
    margin-bottom: 4px;
    color: var(--color-text);
}

.info-item p {
    font-size: clamp(8px,2vw,14px);
    color: var(--color-text);
}

.contact-form {
    border: 1px solid var(--color-Primary1);
    border-radius: 16px;
    padding: 35px 25px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 14px 16px;
    border-radius: 8px;
    border: 1px solid var(--color-border);
    font-size: clamp(10px, 2vw, 14px);
}

.contact-form textarea {
    min-height: 140px;
    resize: none;
}

.contact-form .btn {
    margin: 0 auto;
}

.contact-form .ctm-btn {
    width: 25%;
}

/* contact-section style end */


/* media Query */
@media (max-width: 1200px) {
    .card-article {
        flex: 0 0 calc(100% / 3);
    }
}

@media (max-width:1024px) {
    .heading-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 992px) {
    .card-article {
        flex: 0 0 calc(100% / 2);
    }

    .contact-info {
        flex-direction: row;
        align-items: start;
        justify-content: center;
        margin-top: 20px;
    }

    .contact-form {
        padding: 30px;
    }
}

@media (max-width: 576px) {
    .card-article {
        flex: 0 0 100%;
    }
}

/* media Query end */