.mr-section {
    margin: 80px 0;
}

.sec-header {
    width: fit-content;
    margin-bottom: 20px;


    h2 {

        font-size: 16px;
        font-weight: bold;
        color: var(--color-Primary1);
    }
}



.fast-action {
    .fast-action-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        background-color: var(--color-white);
        border-radius: 10px;
        padding: 20px;
        cursor: pointer;
        gap: 30px;



    }


    .fast-action-item .content {}

    .fast-action-item .content h3 {
        transition: all .3s linear;
        color: var(--color-black);
    }

    .fast-action-item:hover .content h3 {
        color: var(--color-Primary1);
    }


    .fast-action-item .content .arrow-line {

        margin-top: 10px;
        width: 30%;
        display: flex;
        justify-content: end;
        align-items: center;
        position: relative;
        height: 10px;
        transition: all .3s linear;
    }

    .fast-action-item .content .arrow-line::after {
        content: "";
        position: absolute;
        top: 50%;
        bottom: 0;
        height: 1px;
        width: 96%;
        right: 0;
        transform: translateY(- 50%);
        transition: all .2s linear;
        z-index: 1;
        background-color: #000;
        left: 0;
    }

    .fast-action-item .content .arrow-line::before {
        content: "\f104";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        font-size: 10px;
        color: var(--color-black);
        transition: all .3s linear;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-47%);
        z-index: 1;
    }


    .fast-action-item .content .arrow-line i {
        font-size: 10px;
        color: var(--color-black);
        transition: all .3s linear;
    }

    .fast-action-item:hover .content .arrow-line {
        width: 100%;
    }

    .fast-action-item:hover .content .arrow-line i {
        color: var(--color-Primary1);
    }

    .fast-action-item:hover .content .arrow-line::after {
        background-color: var(--color-Primary1);
        width: 97%;
    }

    .fast-action-item:hover .content .arrow-line::before {
        color: var(--color-Primary1);
    }


}



/* about us */

.about-us {
    .content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .content .first-item {

        display: flex;
        flex-direction: column;
        gap: 10px;

        h2 {
            font-size: 24px;
            font-weight: bold;
            color: black
        }


        p {
            font-size: 16px;
            color: var(--color-gray2);
        }

    }


    .content .second-item {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h2 {
            font-size: 20px;
            font-weight: bold;
            color: black
        }

        ul {
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        li {
            display: flex;
            align-items: center;
            gap: 10px;

            p {
                font-size: 16px;
                color: var(--color-gray2);
            }
        }
    }



    a.ctm-btn {
        width: fit-content;
    }



    .about-us-img {
        position: relative;
        max-width: 500px;
        margin-right: auto;


        .text-content {


            display: flex;
            align-items: center;
            gap: 10px;
            padding: 45px;

            p {
                font-size: 24px;
                font-weight: bold;
                color: var(--color-Primary1);
            }
        }



        .img-container {

            position: relative;

            img {

                border-radius: 16px;
                border: 4px solid var(--color-white);
                width: 310px;
                height: 360px;
                object-fit: cover;
            }



            .img-before {
                position: absolute;
                top: -125px;
                left: 0;
                z-index: -1;
                width: 225px;
                height: 160px;
                border-radius: 16px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

        }
    }
}



/* our goals */
.our-goals {




    .our-goals-item {
        display: flex;
        flex-direction: column;
        gap: 20px;
        box-shadow: 0 25px 7px 0 rgba(72, 190, 160, 0),
            0 16px 6px 0 rgba(72, 190, 160, 0.01),
            0 9px 5px 0 rgba(72, 190, 160, 0.05),
            0 4px 4px 0 rgba(72, 190, 160, 0.09),
            0 1px 10px 0 rgba(72, 190, 160, .1);
        height: 100%;
        padding: 20px;
        transition: all 0.5s ease-in-out;
    }



    .our-goals-item:hover {
        background-color: rgba(241, 255, 252, 1);
    }

    .box-img {

        position: relative;
        height: 61.56px;
        width: 55.24px;
        display: flex;
        align-items: end;
        justify-content: end;
    }

    .box-img img {
        width: 45px;
        height: 45px;
        object-fit: contain;
        position: relative;
        z-index: 10;
    }

    .box-img:after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0;
        height: 51.56px;
        width: 100%;
        z-index: 1;
        background-image: url('../images/our-goals-bg.svg');
        background-repeat: no-repeat;

    }




    .box-content h2 {
        font-size: 20px;
        font-family: 'font_bold';
        color: var(--color-Primary1)
    }

    .box-content p {
        font-size: 14px;
        color: var(--color-gray2);
        margin-top: 8px;
        font-weight: 600;
        line-height: 30px;
    }



    .col-lg-4:nth-child(2) .our-goals-item {
        margin-top: 40px;
    }

    .col-lg-4:nth-child(3) .our-goals-item {
        margin-top: 80px;
    }

}


/* our-numbers */
.our-numbers {


    background-color: var(--color-Primary2);
    position: relative;
    overflow: hidden;


    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 110%;
        background: url('../images/our-numbers-bg.svg') no-repeat center/cover;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 250px;
        height: 110%;
        background: url('../images/our-numbers-bg.svg') no-repeat center/cover;
        transform: rotate(180deg);
    }

    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }


    .content {
        width: 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
        z-index: 10;
    }

    .content p {
        font-size: 14px;
        color: var(--color-white);
        margin-top: 8px;
        font-weight: 600;
        line-height: 30px;
    }

    .content h2 {
        font-size: 24px;
        font-weight: bold;
        color: var(--color-white);
        margin-top: 8px;
        font-weight: 600;
        line-height: 30px;
    }

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        align-items: center;
        position: relative;
        z-index: 10;
    }

    .our-numbers-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .our-numbers-item p {
        font-size: 48px;
        font-family: 'font_bold';
        color: var(--color-Primary1);
        margin-top: 8px;
        font-weight: 600;
        line-height: 30px;
    }

    .our-numbers-item span {
        font-size: 14px;
        color: var(--color-white);
        margin-top: 8px;
        font-weight: 600;
        line-height: 30px;
    }

}


/* nour */

section {
    padding: 40px 0px;
}

/* about section style */
.about-section {
    position: relative;
    overflow: hidden;

    &::before {
        position: absolute;
        content: "";
        top: 25%;
        left: 0;
        width: 100%;
        height: 75%;
        background: url('../images/bg-about.svg') no-repeat left/contain;
        z-index: -1;
        opacity: 0.7;
    }
}

.heading-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: clamp(10px, 5vw, 40px);
    margin-bottom: 30px;

    .desc {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .section-title {
            width: fit-content;
            font-size: clamp(12px, 4vw, 14px);
            font-family: 'font_bold';
            padding: 7px 10px;
            border: 1px solid var(--color-Primary4);
            background: var(--color-Primary4);
            color: var(--color-Primary1);
        }

        .heading-section {
            display: flex;
            justify-content: start;
            align-items: flex-start;
            flex-direction: column;
            gap: clamp(10px, 5vw, 20px);
            margin: 20px 0;

            h2 {
                font-size: clamp(12px, 5vw, 24px);
                color: var(--color-black);
                font-weight: bold;
            }

            p {
                max-width: 700px;
                font-size: clamp(10px, 5vw, 16px);
                color: var(--color-gray2);
            }
        }
    }
}


.box {
    position: relative;
    background: var(--color-white);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid var(--color-Primary1);
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;

    &:hover {
        background: linear-gradient(276.53deg, #275C51 0%, #59C1AC 100%);
    }

    &:hover .clender {
        background: var(--color-white);
        color: var(--color-Primary1);
    }

    &:hover .ctm-btn {
        /* display: block; */
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
        background: var(--color-white);
        color: var(--color-Primary1) !important;
    }


    &:hover .heading-section h2,
    &:hover .heading-section p {
        color: var(--color-white);
    }

    .clender {
        position: absolute;
        width: clamp(40px, 5vw, 45px);
        height: clamp(40px, 5vw, 45px);
        border-top-right-radius: 16px;
        border-bottom-left-radius: 16px;
        background: var(--color-Primary1);
        color: var(--color-white);
        top: 0px;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: clamp(0px, 1vw, 2px);
        transition: all 0.5s ease-in-out;

        span {
            font-size: clamp(8px, 5vw, 12px);
            font-weight: 600;
        }
    }

    .heading-section {
        display: flex;
        justify-content: start;
        align-items: flex-start;
        flex-direction: column;
        gap: clamp(5px, 5vw, 10px);

        h2 {
            font-size: clamp(12px, 5vw, 18px);
            color: var(--color-black);
            font-weight: bold;
        }

        p {
            max-width: 700px;
            font-size: clamp(10px, 5vw, 16px);
            color: var(--color-gray2);
        }
    }

    .box-img {
        width: 100%;
        height: 190px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    .ctm-btn {
        /* display: none; */
        align-self: flex-start;
        opacity: 0;
        pointer-events: none;
        transform: translateY(10px);
        transition: all 0.5s ease-in-out;
    }

    .ctm-btn-none {
        opacity: 1;
        pointer-events: auto;
    }
}


/* about section style end */

/* section event-agenda style */
.events-agenda {
    .box {
        .ctm-btn {
            color: var(--color-Primary1) !important;
            opacity: 1 !important;
            visibility: visible;
            pointer-events: auto;
        }

        &:hover .ctm-btn-none {
            color: var(--color-white) !important;
        }
    }
}

/* section event-agenda style end */

/* articles-section style */
.articles-slider {
    position: relative;
    overflow: hidden;
    background: var(--color-Primary6);
    z-index: 2;

    &::before {
        content: "";
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        right: 30px;
        background: url('../images/bg-slider\ \(1\).svg') no-repeat top/contain;
        z-index: -1;
        opacity: 1;
    }

    &::after {
        content: "";
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        left: 30px;
        background: url('../images/bg-slider\ \(2\).svg') no-repeat top/contain;
        z-index: -1;
        opacity: 1;
    }

    .slider-track {
        display: flex;
        gap: 20px;
        will-change: transform;

        .card-article {
            position: relative;
            overflow: hidden;
            flex: 0 0 calc(100% / 4.5);
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
            z-index: 2;

            &:hover {
                background: var(--color-Primary1) !important;
                padding: 10px;
            }

            &:hover .card-content .meta,
            &:hover .card-content .slide-title,
            &:hover .card-content .ctm-btn-none {
                color: var(--color-white) !important;
            }

            .slider-img {
                img {
                    width: 100%;
                    height: 220px;
                    object-fit: cover;
                }
            }

            .card-content {
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: flex-start;

                .meta {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                    color: var(--color-gray);
                    font-size: clamp(12px, 1vw, 14px);
                }

                .slide-title {
                    font-size: clamp(12px, 1.4vw, 18px);
                    color: var(--color-black);
                    margin-right: 20px;
                }

                .ctm-btn {
                    color: var(--color-Primary1) !important;
                    opacity: 1 !important;
                    visibility: visible;
                    pointer-events: auto;
                }

                &:hover .ctm-btn-none {
                    color: var(--color-white) !important;
                }
            }
        }
    }
}

/* article-section style end */

/* contact-section style */
.contact-section {
    .contact-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .contact-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;

            .info-item {
                min-height: 130px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                gap: 8px;

                .info-item h4 {
                    font-size: clamp(10px, 2vw, 15px);
                    margin-bottom: 4px;
                    color: var(--color-gray2);
                }

                .info-item p {
                    font-size: clamp(8px, 2vw, 14px);
                    color: var(--color-gray2);
                }
            }
        }

        .contact-form {
            border: 1px solid var(--color-Primary1);
            border-radius: 16px;
            padding: 35px 25px;

            form {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 20px;

                input,
                textarea {
                    width: 100%;
                    padding: 14px 16px;
                    border-radius: 8px;
                    border: 1px solid var(--color-border);
                    font-size: clamp(10px, 2vw, 14px);
                }

                textarea {
                    min-height: 140px;
                    resize: none;
                }
            }
        }
    }
}


/* contact-section style end */


/* media Query */
@media (max-width: 1200px) {
    .card-article {
        flex: 0 0 calc(100% / 3);
    }
}

@media (max-width:1024px) {
    .heading-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 992px) {
    .articles-slider .slider-track .card-article {
        flex: 0 0 calc(100% / 2);
    }

    .contact-info {
        flex-direction: row;
        align-items: start;
        justify-content: center;
        margin-top: 20px;
    }

    .contact-form {
        padding: 30px;
    }
}

@media (max-width: 576px) {
    .articles-slider .slider-track .card-article {
        flex: 0 0 100%;
    }
}

/* media Query end */