/* global Style */
section {
    padding: 40px 0px;
}

.mr-section {
    margin: clamp(20px, 5vw, 80px) 0;
}

.sec-header {
    width: fit-content;
    margin-bottom: 20px;



    h2 {
        font-size: clamp(12px, 4vw, 14px);
        font-family: 'font_bold';
        padding: 7px 10px;
        border: 1px solid var(--color-Primary4);
        background: var(--color-Primary4);
        color: var(--color-Primary1);
    }
}


.heading-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: clamp(10px, 5vw, 40px);
    margin-bottom: 30px;

    .desc {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .section-title {
            width: fit-content;
            font-size: clamp(12px, 4vw, 14px);
            font-family: 'font_bold';
            padding: 7px 10px;
            border: 1px solid var(--color-Primary4);
            background: var(--color-Primary4);
            color: var(--color-Primary1);
        }

        .heading-section {
            display: flex;
            justify-content: start;
            align-items: flex-start;
            flex-direction: column;
            gap: clamp(10px, 5vw, 20px);
            margin: 20px 0;

            h2 {
                font-size: clamp(12px, 5vw, 24px);
                color: var(--color-black);
                font-weight: bold;
            }

            p {
                max-width: 700px;
                font-size: clamp(10px, 5vw, 16px);
                color: var(--color-gray2);
            }
        }
    }
}

.box {
    position: relative;
    background: var(--color-white);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid var(--color-Primary1);
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;

    &:hover {
        background: linear-gradient(116.85deg, #1A428A 0%, #48BEA0 100%);
    }

    &:hover .clender {
        background: var(--color-white);
        color: var(--color-Primary1);
    }

    &:hover .ctm-btn {
        /* display: block; */
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
        background: var(--color-white);
        color: var(--color-Primary1) !important;
    }


    &:hover .heading-section h2,
    &:hover .heading-section p {
        color: var(--color-white);
    }

    .clender {
        position: absolute;
        width: clamp(40px, 5vw, 45px);
        height: clamp(40px, 5vw, 45px);
        border-top-right-radius: 16px;
        border-bottom-left-radius: 16px;
        background: var(--color-Primary1);
        color: var(--color-white);
        top: 0px;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: clamp(0px, 1vw, 2px);
        transition: all 0.5s ease-in-out;

        span {
            font-size: clamp(8px, 5vw, 12px);
            font-weight: 600;
        }
    }

    .heading-section {
        display: flex;
        justify-content: start;
        align-items: flex-start;
        flex-direction: column;
        gap: clamp(5px, 5vw, 10px);

        h2 {
            font-size: clamp(12px, 5vw, 18px);
            color: var(--color-black);
            font-weight: bold;
        }

        p {
            max-width: 700px;
            font-size: clamp(10px, 5vw, 16px);
            color: var(--color-gray2);
        }
    }

    .box-img {
        width: 100%;
        height: 190px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    .ctm-btn {
        align-self: flex-start;
        opacity: 0;
        pointer-events: none;
        transform: translateY(10px);
        transition: all 0.5s ease-in-out;
    }

    .ctm-btn-none {
        opacity: 1;
        pointer-events: auto;
    }
}

/* global Style End*/


.fast-action {
    .fast-action-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        background-color: var(--color-white);
        border-radius: 10px;
        padding: 20px;
        cursor: pointer;
        gap: 30px;



    }


    .fast-action-item .content h3 {
        transition: all .3s linear;
        color: var(--color-black);
    }

    .fast-action-item:hover .content h3 {
        color: var(--color-Primary1);
    }


    .fast-action-item .content .arrow-line {

        margin-top: 10px;
        width: 30%;
        display: flex;
        justify-content: end;
        align-items: center;
        position: relative;
        height: 10px;
        transition: all .3s linear;
    }

    .fast-action-item .content .arrow-line::after {
        content: "";
        position: absolute;
        top: 50%;
        bottom: 0;
        height: 1px;
        width: 96%;
        right: 0;
        transform: translateY(- 50%);
        transition: all .2s linear;
        z-index: 1;
        background-color: #000;
        left: 0;
    }

    .fast-action-item .content .arrow-line::before {
        content: "\f104";
        font-family: "Font Awesome 7 Free";
        font-weight: 900;
        font-size: 10px;
        color: var(--color-black);
        transition: all .3s linear;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-47%);
        z-index: 1;
    }


    .fast-action-item .content .arrow-line i {
        font-size: 10px;
        color: var(--color-black);
        transition: all .3s linear;
    }

    .fast-action-item:hover .content .arrow-line {
        width: 100%;
    }

    .fast-action-item:hover .content .arrow-line i {
        color: var(--color-Primary1);
    }

    .fast-action-item:hover .content .arrow-line::after {
        background-color: var(--color-Primary1);
        width: 97%;
    }

    .fast-action-item:hover .content .arrow-line::before {
        color: var(--color-Primary1);
    }


}


/* about us */

.about-us {
    .content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .content .first-item {

        display: flex;
        flex-direction: column;
        gap: 10px;

        h2 {
            font-size: clamp(12px, 5vw, 24px);
            font-weight: bold;
            color: black
        }


        p {
            font-size: clamp(10px, 5vw, 16px);
            color: var(--color-gray2);
        }

    }


    .content .second-item {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h2 {
            font-size: clamp(12px, 5vw, 20px);
            font-weight: bold;
            color: black
        }

        ul {
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        li {
            display: flex;
            align-items: center;
            gap: 10px;

            p {
                font-size: clamp(10px, 5vw, 16px);
                color: var(--color-gray2);
            }
        }
    }



    a.ctm-btn {
        width: fit-content;
    }



    .about-us-img {
        position: relative;
        max-width: 500px;
        margin-right: auto;
        z-index: 10;


        .text-content {


            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            padding: 0;
            width: 57%;

            h2 {
                font-size: 14px;
            }

            p {
                font-size: 75px;
                font-family: 'font_bold';
                color: var(--color-Primary1);
                line-height: 1;
                align-content: end
            }
        }



        .img-container {

            position: relative;
            z-index: 10;

            img {

                border-radius: 16px;
                border: 4px solid var(--color-white);
                width: 310px;
                height: 360px;
                object-fit: cover;
            }



            .img-before {
                position: absolute;
                top: -125px;
                left: 0;
                z-index: -1;
                width: 225px;
                height: 160px;
                border-radius: 16px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

        }




        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 114%;
            height: 100%;
            background-image: url('../images/about-bg-cover.svg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            z-index: -1;
            opacity: 0.2;
        }
    }
}



/* social-media-icons */

.social-media-icons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;



    a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: var(--color-Primary2);
        position: relative;

        &:hover {
            background: var(--color-Primary1);
        }

        &:hover span {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }





    }

    i {
        color: var(--color-white);
    }

    .list-icons span {
        position: absolute;
        bottom: 0;
        right: 125%;
        width: fit-content;
        height: 100%;
        background: var(--color-Primary2);
        color: var(--color-white);
        font-size: 12px;
        font-weight: 600;
        padding: 5px 10px;
        border-radius: 5px;
        align-content: center;
        text-align: center;
        transition: all 0.3s ease;
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);

        &.active {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }


        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: -8px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 8px 0 8px 8px;
            border-color: transparent transparent transparent var(--color-Primary2);
            transform: translateY(-50%);
        }
    }

    .list-icons a {
        opacity: 0;
        visibility: hidden;
        transform: translateY(10px);
        transition: all 0.3s ease;
    }

    .list-icons {
        display: flex;
    }

    &.active .list-icons a {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        display: flex;
    }

    &.active .list-icons a:nth-child(1) {
        transition-delay: 0.1s;
    }

    &.active .list-icons a:nth-child(2) {
        transition-delay: 0.2s;
    }

    &.active .list-icons a:nth-child(3) {
        transition-delay: 0.3s;
    }

    &.active .list-icons a:nth-child(4) {
        transition-delay: 0.4s;
    }

    &.active .list-icons a:nth-child(5) {
        transition-delay: 0.5s;
    }

    &.active .list-icons a:nth-child(6) {
        transition-delay: 0.6s;
    }

    &.active .list-icons a:nth-child(7) {
        transition-delay: 0.7s;
    }



    .open-icon {


        .menu-div {
            display: flex;

        }

        .content {
            height: 35px;
            width: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background: var(--color-Primary1);
            position: relative;
        }

        a {
            height: 12px;
            width: 25px;
            background-color: transparent;


        }



        .navicon__item {
            background-color: white;
        }

        .navicon__item:nth-child(2) {
            top: 5px;
        }

        .navicon__item:nth-child(3) {
            top: 10px;
        }

        .navicon__item:nth-child(4) {
            top: 15px;
        }

        .navicon:hover .navicon__item:nth-child(3) {
            width: 100%;
        }
    }



    &.active .open-icon .content {

        .navicon:hover .navicon__item:nth-child(3),
        .navicon__item {
            width: 80%;
        }

        .navicon__item:nth-child(2) {
            display: none;
        }

        .navicon__item:nth-child(1) {
            transform: rotate(45deg) translateY(88%) translateX(29%)
        }

        .navicon__item:nth-child(3) {
            transform: rotate(-45deg) translateY(-65%) translateX(25%)
        }

    }
}

/* our goals */
.our-goals {

    padding: 40px 0 100px 0;

    .our-goals-item {
        display: flex;
        flex-direction: column;
        gap: 20px;
        box-shadow: 0 25px 7px 0 rgba(72, 190, 160, 0),
            0 16px 6px 0 rgba(72, 190, 160, 0.01),
            0 9px 5px 0 rgba(72, 190, 160, 0.05),
            0 4px 4px 0 rgba(72, 190, 160, 0.09),
            0 1px 10px 0 rgba(72, 190, 160, .1);
        height: 100%;
        padding: 20px;
        transition: all 0.5s ease-in-out;
    }



    .our-goals-item:hover {
        background-color: rgba(241, 255, 252, 1);
        transform: translateY(-10px);
    }

    .box-img {

        position: relative;
        height: 61.56px;
        width: 55.24px;
        display: flex;
        align-items: end;
        justify-content: end;
    }

    .box-img img {
        width: 45px;
        height: 45px;
        object-fit: contain;
        position: relative;
        z-index: 10;
    }

    .box-img:after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0;
        height: 51.56px;
        width: 100%;
        z-index: 1;
        background-image: url('../images/our-goals-bg.svg');
        background-repeat: no-repeat;

    }




    .box-content h2 {
        font-size: 20px;
        font-family: 'font_bold';
        color: var(--color-Primary1)
    }

    .box-content ul,
    .box-content p {
        font-size: 14px;
        color: var(--color-gray2);
        margin-top: 8px;
        font-weight: 600;
        line-height: 30px;
    }

    .box-content ul li {
        display: list-item;
        list-style: disc;
        margin-right: 20px;

    }





    .col-lg-4:nth-child(2) .our-goals-item {
        margin-top: 40px;
    }

    .col-lg-4:nth-child(3) .our-goals-item {
        margin-top: 80px;
    }

}


/* our-numbers */
.our-numbers {


    background-color: var(--color-Primary2);
    position: relative;
    overflow: hidden;


    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: url('../images/our-numbers-bg.svg') no-repeat center/cover;
        opacity: .3;
    }


    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }


    .sec-header .section-title {
        border-color: var(--color-white);
        color: white;
    }


    .content {
        width: 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
        z-index: 10;
    }

    .content p {
        font-size: 14px;
        color: var(--color-white);
        margin-top: 8px;
        font-weight: 600;
        line-height: 30px;
    }

    .content h2 {
        font-size: 24px;
        font-weight: bold;
        color: var(--color-white);
        margin-top: 8px;
        font-weight: 600;
        line-height: 30px;
    }

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        align-items: center;
        position: relative;
        z-index: 10;
    }

    .our-numbers-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .our-numbers-item p {
        font-size: clamp(30px, 5vw, 48px);
        font-family: 'font_bold';
        color: var(--color-Primary1);
        margin-top: 8px;
        font-weight: 600;
        line-height: 30px;
    }

    .our-numbers-item span {
        font-size: clamp(8px, 5vw, 14px);
        color: var(--color-white);
        margin-top: 8px;
        font-weight: 600;
        line-height: 30px;
    }



    .counter-content span {
        color: var(--color-Primary1);
    }

}

/* about section style */
.about-section {
    position: relative;
    overflow: hidden;

    &::before {
        position: absolute;
        content: "";
        top: 20%;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../images/bg-about.svg') no-repeat left/contain;
        z-index: -1;
        opacity: 0.7;
        transition: all 0.5s ease-in-out;
        animation: waveBg 12s linear infinite;
    }

    &:hover::before {
        transform: translateY(-30px) scale(1.05);
    }
}

@keyframes waveBg {
    0% {
        transform: translateX(0) translateY(0);
    }

    50% {
        transform: translateX(-30px) translateY(15px);
    }


    100% {
        transform: translateX(0) translateY(0);
    }

}

.section-title {
    width: fit-content;
    font-size: clamp(12px, 4vw, 14px);
    font-family: 'font_bold';
    padding: 7px 10px;
    border: 1px solid var(--color-Primary4);
    background: var(--color-Primary4);
    color: var(--color-Primary1);
}

.heading-section {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    gap: clamp(10px, 5vw, 20px);
    padding: 20px 0;
}

.heading-section h2 {
    font-size: clamp(12px, 5vw, 28px);
    color: var(--color-black);
    font-weight: bold;
}

.heading-section p {
    max-width: 700px;
    font-weight: 500px;
    font-size: clamp(10px, 5vw, 22px);
    color: var(--color-text);
}

/*  */
.btn-wrapper {
    max-height: 0;
    opacity: 0;
    overflow: hidden;

    transition:
        max-height 0.4s ease,
        opacity 0.3s ease;
}

.btn-wrapper .ctm-btn {
    display: inline-flex;
    align-items: center;
    /* margin-top: 0px; */

    background: var(--color-white);
    color: var(--color-Primary1) !important;
}

.box:hover .btn-wrapper {
    max-height: 80px;
    opacity: 1;
}


.box {
    height: 100%;
    border-radius: 16px;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid var(--color-Primary1);
    cursor: pointer;
    /* overflow: hidden; */
    transition: all 0.5s ease-in-out;
}

.box:hover {
    background: var(--color-Primary1);
}

.box-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;

}

.box:hover h2,
.box:hover p {
    color: var(--color-white);

}

/*  */

/* about section style end */



/* section event-agenda style */
.events-agenda {
    .box {
        .ctm-btn {
            color: var(--color-Primary1) !important;
            opacity: 1 !important;
            visibility: visible;
            pointer-events: auto;
        }

        &:hover .ctm-btn-none {
            color: var(--color-white) !important;
        }
    }
}

/* section event-agenda style end */

/* articles-section style */
.articles-slider {
    position: relative;
    overflow: hidden;
    background: var(--color-Primary6);
    z-index: 2;

    &::before {
        content: "";
        position: absolute;
        width: 80%;
        height: 100%;
        top: -10px;
        right: -20%;
        background: url('../images/bg-slider\ \(1\).svg') no-repeat top/contain;
        z-index: -1;
        opacity: 1;
        animation: waveBg 8s linear infinite;
    }

    &::after {
        content: "";
        position: absolute;
        width: 80%;
        height: 100%;
        top: -10px;
        left: -20%;
        background: url('../images/bg-slider\ \(2\).svg') no-repeat top/contain;
        z-index: -1;
        opacity: 1;
        animation: waveBg 8s linear infinite;
    }

    .slider-track {
        display: flex;
        gap: 20px;
        will-change: transform;

        .card-article {
            position: relative;
            overflow: hidden;
            flex: 0 0 calc(100% / 4.5);
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
            z-index: 2;

            &:hover {
                background: var(--color-Primary1) !important;
                padding: 0 0 10px 0;
            }

            &:hover .card-content .meta,
            &:hover .card-content .slide-title,
            &:hover .card-content .ctm-btn-none {
                color: var(--color-white) !important;
            }

            &:hover .meta img {
                filter: brightness(0) invert(1);
            }

            .slider-img {
                img {
                    width: 100%;
                    height: 220px;
                    object-fit: cover;
                }
            }

            .card-content {
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: flex-start;

                .meta {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                    color: var(--color-gray);
                    font-size: clamp(12px, 1vw, 14px);
                }

                .slide-title {
                    font-size: clamp(12px, 1.4vw, 18px);
                    color: var(--color-black);
                    margin-right: 20px;
                }

                .ctm-btn {
                    color: var(--color-Primary1) !important;
                    opacity: 1 !important;
                    visibility: visible;
                    pointer-events: auto;
                }

                &:hover .ctm-btn-none {
                    color: var(--color-white) !important;
                }
            }
        }
    }
}

/* article-section style end */

/* contact-section style */
.contact-section {
    .contact-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .contact-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;

            .info-item {
                min-height: 130px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                gap: 8px;

                .info-item h4 {
                    font-size: clamp(10px, 2vw, 15px);
                    margin-bottom: 4px;
                    color: var(--color-gray2);
                }

                .info-item p {
                    font-size: clamp(8px, 2vw, 14px);
                    color: var(--color-gray2);
                }
            }
        }

        .contact-form {
            border: 1px solid var(--color-Primary1);
            border-radius: 16px;
            padding: 35px 25px;

            form {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 20px;

                input,
                textarea {
                    width: 100%;
                    padding: 14px 16px;
                    border-radius: 8px;
                    border: 1px solid var(--color-border);
                    font-size: clamp(10px, 2vw, 14px);
                }

                textarea {
                    min-height: 140px;
                    resize: none;
                }
            }
        }
    }
}

.about-seca .family {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;

    margin-top: 70px;

}

.about-seca .family .row {
    width: 100%;
}

.about-seca .family .family-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
}

.about-seca .family .family-container .text-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.about-seca .family .family-container .text-content h2 {
    font-size: clamp(14px, 2vw, 18px);
    font-weight: 600;
    line-height: 20px;
    color: var(--color-Primary2);
    font-family: 'font_bold';
}

.about-seca .family .family-container .text-content p {
    font-size: clamp(8px, 2vw, 14px);
    color: var(--color-Primary1);
    margin-top: 8px;
    font-weight: 600;
    line-height: 30px;
}

.about-seca .items {

    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    flex-wrap: wrap;

}



.family-item {
    width: 200px;
    height: 250px;
    background-color: var(--color-Primary1);
    border-radius: 102px 102px 102px 8px;
    align-content: end;
    position: relative;
}

.family-item .img-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 102px 102px 102px 8px;
}

.family-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.family-item:before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 10px;
    width: 210px;
    height: 280px;
    border: 1px solid var(--color-Primary2);
    border-radius: 102px 102px 102px 8px;
}


.family-item:after {
    content: "";
    position: absolute;
    bottom: -10px;
    right: 10px;
    top: -10px;
    width: 28px;
    height: 28px;
    background-color: var(--color-Primary2);
    border-radius: 50%;

}

.family .items {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
}




/* managers */


.manager-item {
    display: flex;
    gap: 20px;
    align-items: stretch;
    justify-content: space-between;
    text-align: center;
    gap: 10px;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid var(--color-Primary1);
    box-shadow: 0 25px 7px 0 rgba(72, 190, 160, 0),
}

.manager-item .img-container {
    width: 70px;
    height: 70px;
    border-radius: 8px;
    overflow: hidden;
}


.manager-item .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}




.manager-item .text-content {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex: 1;

}


.manager-item .text-content .text-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

}



.manager-item .text-content .text-item:nth-child(1) {
    align-items: start;
    justify-content: space-between;
}


.manager-item .text-content .text-item {
    height: 100%;
}

/* contact-section style end */

/* header-section style */
.header-section {
    background: #1A428A;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../images/bg-header-section.svg') no-repeat left/contain;
        z-index: -1;
    }

    h2 {
        color: var(--color-white);
        font-size: clamp(12px, 5vw, 32px);
        font-weight: bold;
        margin-bottom: 10px;
    }

    .sub-title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;

        h4 {
            color: var(--color-white);
            font-size: clamp(10px, 2vw, 24px);
            font-weight: bold;
        }
    }
}

/* header-section style end */


/* servies-setails style */
.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .main-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;

        .services-details-img {
            width: 100%;
            height: auto;
            overflow: hidden;

            img {
                width: 100%;
                height: 400px;
                /* height: auto; */
                object-fit: contain;
                display: block;
            }
        }

        .services-details-description {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 10px;

            h2 {
                font-size: clamp(12px, 5vw, 32px);
                font-weight: bold;
                color: var(--color-black);
            }

            p {
                font-size: clamp(10px, 5vw, 16px);
                color: var(--color-gray2);
            }
        }
    }
}

/* servies-setails style end */

/* faq section */
.faq-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;

    .faq-items {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;

        .faq-item {
            border: 1px dashed #45C2B1;
            border-radius: 12px;
            overflow: hidden;

            .faq-question {
                width: 100%;
                padding: clamp(12px, 2vw, 16px) clamp(14px, 2vw, 20px);
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;

                h2 {
                    font-size: clamp(12px, 2vw, 16px);
                    font-weight: 600;
                    color: #45C2B1;
                }

                img {
                    transition: transform 0.3s ease;
                }

            }

            .faq-answer {
                h3 {
                    max-height: 0;
                    overflow: hidden;
                    padding: 0 20px;
                    font-size: 15px;
                    line-height: 1.8;
                    color: var(--color-gray2);
                    transition: max-height 0.4s ease, padding 0.3s ease;
                }
            }

            &.active .faq-answer h3 {
                max-height: 300px;
                padding: 10px 20px;
            }

            &.active img {
                transform: rotate(180deg);
            }
        }
    }

    .faq-img {
        width: 20%;
    }
}



/* faq section end */




.manager-item .text-content .text-item h2 {
    color: var(--color-Primary1);
    font-family: "font_bold";
}

.manager-item .text-content .text-item img {

    width: 30px;
    height: 30px;
    background-color: rgba(72, 190, 160, 0.15);
    border-radius: 4px;
    padding: 4px;
}




/* members */

.members-content {
    padding: 40px 0 100px 0;
}

.members-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-color: var(--color-white);
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 25px 7px 0 rgba(0, 0, 0, 0),
        0 16px 6px 0 rgba(0, 0, 0, 0.01),
        0 9px 5px 0 rgba(0, 0, 0, 0.05),
        0 4px 4px 0 rgba(0, 0, 0, 0.09),
        0 1px 10px 0 rgba(0, 0, 0, .1);
    transition: all 0.3s ease;
    position: relative;
}



.members-item h2 {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-Primary1);
    font-family: 'font_bold';
    transition: all 0.3s ease;
}

.members-item .member-features {
    font-size: 14px;
    color: var(--color-Primary1);
    font-weight: 600;
    background-color: rgba(72, 190, 160, 0.15);
    font-family: 'font_bold';
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.members-item p {
    font-size: 14px;
    color: var(--color-black);
    font-weight: 600;
    font-family: 'font_bold';
    font-size: 34px;
    margin-top: 20px;
    position: relative;

    & svg {
        position: absolute;
        top: -10px;
        left: -30PX;
    }

    transition: all 0.3s ease;
}


.members-item .ctm-btn {

    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 25px 7px 0 rgba(0, 0, 0, 0),
        0 16px 6px 0 rgba(0, 0, 0, 0.01),
        0 9px 5px 0 rgba(0, 0, 0, 0.05),
        0 4px 4px 0 rgba(0, 0, 0, 0.09),
        0 1px 10px 0 rgba(0, 0, 0, .1);
    transition: all 0.3s ease;
}




.members-item:hover {
    transform: translateY(-10px);
    transition: all 0.3s ease;
    background: linear-gradient(276.53deg, #1A428A 0%, #48BEA0 100%);
}


.members-item:hover h2,
.members-item:hover .member-features,
.members-item:hover p,
.members-item:hover svg path {
    color: var(--color-white);
    fill: var(--color-white);
}

.members-item:hover .member-features {
    background: rgba(255, 255, 255, 0.15);
}

.members-item:hover .ctm-btn {
    background: var(--color-white);
    color: var(--color-Primary1) !important;
}

.members-item:hover .ctm-btn:hover {
    background: var(--color-Primary1);
    color: var(--color-white) !important;
}



#featuresModal li {
    display: list-item;
    list-style: disc;
    margin-right: 35px;
    font-weight: 400;
    line-height: 30px;
}

#featuresModal .modal-header {
    text-align: center;
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: center;
}


#featuresModal .modal-header h1 {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-Primary1);
    font-family: 'font_bold';
}

#featuresModal .modal-header button {
    position: absolute;
    top: -40px;
    right: 0;
    font-size: 20px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

#featuresModal .modal-body {
    padding: 25px;
}


/* membership subscription */

.membership-subscription-content {
    position: relative;
}

.membership-subscription-content::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url('../images/form-bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.membership-subscription-content form {

    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 900px;
    margin: 30px auto;
    padding: 40px 20px;
    border-radius: 16px;
    box-shadow: 0 25px 7px 0 rgba(0, 0, 0, 0),
        0 16px 6px 0 rgba(0, 0, 0, 0.01),
        0 9px 5px 0 rgba(0, 0, 0, 0.05),
        0 4px 4px 0 rgba(0, 0, 0, 0.09),
        0 1px 10px 0 rgba(0, 0, 0, .1);
    background-color: #fff;
}

.membership-subscription-content form .form-group {

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}


.membership-subscription-content form .form-select {

    background-position: left .75rem center;
    padding: .375rem .75rem .375rem 2.25rem;
    height: 50px;
}


.membership-subscription-content form h2 {
    font-size: clamp(14px, 5vw, 24px);
    font-weight: 600;
    color: var(--color-Primary1);
    font-family: 'font_bold';
    text-align: center;
    margin-bottom: 20px;
}



.upload-file {

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-Primary4);
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 20px;
    border-radius: 16px;

    border: 1px dashed var(--color-Primary1);

    input {
        display: none;
    }

    span {
        color: var(--color-gray2);
    }


    label {
        font-size: 16px;
        font-weight: 600;
        font-family: 'font_bold';
        cursor: pointer;
    }

    label span {
        color: var(--color-Primary1);
        font-weight: 600;
        font-family: 'font_bold';
        cursor: pointer;
    }


    .img-upload {
        max-width: 100px;
        max-height: 100px;
        height: 100%;
        object-fit: cover;
        display: block;
    }


}


/* association members */

.association-members-list {
    width: 100%;
}

.association-members-content h2 {

    font-size: clamp(12px, 3vw, 16px);
    font-weight: 600;
    color: var(--color-Primary1);
    font-family: 'font_bold';
    margin: 40px 0;
    background-color: var(--color-Primary4);
    padding: 15px;
    width: 100%;
}

.association-members-list {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.association-members-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.association-members-item .img-container {
    width: 200px;
    height: 250px;
    background-color: var(--color-Primary2);
    border-radius: 102px 102px 102px 8px;
    align-content: end;
    overflow: hidden;
    border: 1.5px solid var(--color-Primary2);
}


.association-members-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.association-members-item h3 {

    font-size: clamp(12px, 3vw, 18px);
    font-weight: 600;
    color: var(--color-Primary1);
    font-family: 'font_bold';
    text-align: center;
    margin-bottom: 10px;
}

.association-members-item p {
    font-size: clamp(10px, 2vw, 14px);
    font-weight: 600;
    color: var(--color-Primary2);
    text-align: center;
    margin-bottom: 10px;
}



/* basic regulations */

.basic-regulations-item {

    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    padding: 35px;
    box-shadow: 0 25px 7px 0 rgba(0, 0, 0, 0),
        0 16px 6px 0 rgba(0, 0, 0, 0.01),
        0 9px 5px 0 rgba(0, 0, 0, 0.05),
        0 4px 4px 0 rgba(0, 0, 0, 0.09),
        0 1px 10px 0 rgba(0, 0, 0, .1);
    background-color: var(--color-white);
}

.basic-regulations-item img {


    max-width: 150px;
    max-height: 110px;
}


.ctm-btn-wrapper {
    margin-top: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.ctm-btn-wrapper .ctm-btn {
    width: 100%;
    max-width: 200px;
}

/* english text */

.english-text {
    font-family: "English" !important;
}


/* member-subscripe */
.member-subscrip-content form {
    border: 1px solid #48BEA0;
    ;
}

.member-subscrip-content form .form-group label {
    width: 100%;
}

.member-subscrip-content form .form-group textarea {
    width: 100%;
    min-height: 140px;
    padding: 14px 16px;
    border-radius: 8px;
    border: 1px solid var(--color-border);
    font-size: clamp(10px, 2vw, 14px);
    resize: none;
}



/* auth form */
.auth-form .row,
.auth-form {
    min-height: 100vh;
}


.auth-form .boxA {
    background: linear-gradient(to bottom, var(--color-Primary1), var(--color-Primary2));
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.hello-box-login,
 .hello-box-register ,
.hello-box-register {

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.hello-box-login h2,
.hello-box-register h2 ,
 .hello-box-register h2 {
    font-size: clamp(16px, 3vw, 48px);
    font-family: 'font_bold';
    color: var(--color-white);
    font-family: 'font_bold';
    margin-bottom: 20px;
}

.hello-box-login p,
.hello-box-register p ,
 .hello-box-register p {
    font-size: clamp(10px, 5vw, 16px);
    font-weight: 500;
    color: var(--color-white);
    text-align: center;
    line-height: 1.7;
}


/* login box */
.auth-form .boxB {

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.login-box,
.register-box,
 .login-box form,
 .register-box form {

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

 .login-box-content {

    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

 .login-box-content h2 {

    font-size: clamp(16px, 3vw, 48px);
    color: var(--color-Primary1);
}

.login-box-content p {
    font-size: clamp(10px, 5vw, 16px);
    color: var(--color-gray);
}

 .main-container {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-box,
.register-box {

    width: 80%;
}



.login-box form .form-group,
 .register-box form .form-group,
.forger-pass .forget-pass-card .main-container .form-group {

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.member-subscrip-content .upload-file1 {
    background: linear-gradient(90deg, #1A428A 0%, #48BEA0 100%);
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid var(--color-Primary1);
    cursor: pointer;
    overflow: hidden;

    .img-upload1 {
        border-radius: 50%;
        /* width: 100%; */
        height: auto;
    }
}

.upload-file1 img.default {
    width: 50px;
    height: 50px;
    object-fit: contain;
}



.member-subscrip-content .upload-file label {
    text-align: center;
}

.member-subscrip-content form .form-group .custom-list {
    padding: 0 20px;
    color: #737373;
}

.member-subscrip-content form .form-group .custom-list li {
    display: list-item;
    font-size: 16px;
    line-height: 26px;
}

.member-subscrip-content form .form-group .checkbox-wrap {
    font-size: 15px;
    color: #45C2B1;
}

.member-subscrip-content form .form-group .checkbox-wrap #agreeCheck {
    margin-left: 5px;
}

.member-subscrip-content form .form-group .ctm-btn.disabled {
    background: #cfcfcf;
    cursor: not-allowed;
    opacity: 0.6;
}

/* member-subscripe end */

/* nav bar */
.profile-img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    background: #F5F5F5;
    padding: 2px;
    border-radius: 8px;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* nav bar end */
/* profile */
.profile-title {
    width: 100%;
    text-align: right !important;
}

.profile-content {
    margin: 30px auto;
}

.profile-content .profile-account {
    text-align: center;
}

.profile-content .profile-account img {
    margin-bottom: 20px;
}

.profile-content .profile-account h3 {
    font-size: 15px;
    font-weight: bold;
    color: #333333;
}

.profile-content .profile-account p {
    font-size: 12px;
    font-weight: 500;
    color: #3333338e;
}

.profile-content .profile-links {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 2vw, 30px);
}

.profile-content .profile-links .link.active a {
    color: #45C2B1;
    font-weight: bold;
}

.profile-content .profile-links .link.active img {
    filter: invert(1);
}

.profile-content .profile-links .link a {
    color: #D4D4D4;
}

/* profile-membership */
.profile-membership form .form-group {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.profile-membership form .form-group h6 {
    color: #A5A5A5;
    font-size: 14px;
    font-weight: 500;
}

.profile-membership form .form-group span {
    color: #525252;
    font-size: 16px;
    font-weight: 400;
}

.profile-membership form .form-group span.active {
    background: #34C75926;
    color: #34C759;
    padding: 8px 12px;
    border-radius: 8px;
}

.profile-membership form .form-group .form-group-left .ctm-btn,
.profile-membership form .form-group .form-group-right .ctm-btn {
    width: 100%;
    margin-top: 10px;
    border: 1px solid #45C2B1;
    background: #fff;
    color: #45C2B1 !important;
}

/* profile-membership end */
/* profile end */

/* pay-book */
.table-wrapper {
    /* position: relative; */
    z-index: 100;
    width: 100%;
    max-width: 900px;
    overflow: auto;
    margin: 30px auto;
    border-radius: 16px;
    box-shadow: 0 25px 7px 0 rgba(0, 0, 0, 0), 0 16px 6px 0 rgba(0, 0, 0, 0.01), 0 9px 5px 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.09), 0 1px 10px 0 rgba(0, 0, 0, .1);
    background-color: #fff;
    border: 1px solid #48BEA0;
    padding: 40px 20px;
}

.invoice-table {
    width: 100%;
    min-width: 700px;
    border-collapse: separate;
    border-spacing: 0;
}

.table-scroll {
    height: 100%;
    max-height: 300px;
    overflow: auto;
    border-radius: 12px;
    position: relative;
}

.invoice-table thead {
    background: linear-gradient(90deg, #1A428A 0%, #48BEA0 100%);
    position: sticky;
    top: 0;
    z-index: 2;
}

.invoice-table thead th:first-child {
    border-top-right-radius: 16px;
}

.invoice-table thead th:last-child {
    border-top-left-radius: 16px;
}

.invoice-table th {
    color: var(--color-white);
    padding: 14px;
    text-align: center;
    font-weight: 600;
}

.invoice-table td {
    padding: 14px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    color: #252525;
    font-size: 14px;
}

.invoice-table tbody tr:hover {
    background: #f5f7fa;
}

@media (max-width: 768px) {

    .invoice-table th,
    .invoice-table td {
        padding: 10px;
        font-size: 12px;
    }

    /* pay-book end */


}

.login-box form .form-group input,
.register-box form .form-group input,
.forger-pass .forget-pass-card .main-container .form-group input {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    border: 1px solid var(--color-gray);
    padding: 0 10px;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-black);
    background-color: var(--color-white);
    outline: none;
    transition: all 0.3s ease;
    padding-right: 40px;
}

.login-box form .form-group input:focus,
.register-box form .form-group input:focus,
.forger-pass .forget-pass-card .main-container .form-group input:focus {
    border: 1px solid var(--color-Primary1);
}

 .login-box form .form-group input::placeholder,
.register-box form .form-group input::placeholder,
.forger-pass .forget-pass-card .main-container .form-group input::placeholder {

    color: var(--color-gray);
    font-size: 14px;
}

 .login-box form .form-group img,
 .register-box form .form-group img,
.forger-pass .forget-pass-card .main-container .form-group img,
 .login-box form .form-group i,
.register-box form .form-group i {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.login-box form .form-group i,
 .register-box form .form-group i ,
.forger-pass .forget-pass-card .main-container .form-group i {
    position: absolute;
    color: var(--color-gray);
    left: 10px;
    right: unset;
    cursor: pointer;
}


.login-box a,
.register-box a {

    font-size: 14px;
    color: var(--color-Primary1);
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
    transition: all 0.3s ease;
}

 .login-box a:hover,
 .register-box a:hover {
    color: var(--color-Primary2);
    transition: all 0.3s ease;
    text-decoration: underline !important;
}





.auth-form .row {

    transition: all 0.3s ease;
}

.auth-form .row.row-reverse {
    flex-direction: row-reverse;
    transition: all 0.3s ease;
}


/* forget password */
.page-rest {
    position: relative;
}

.page-rest::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../images/bg-pass-forget.svg);
    /* background-size: contain; */
    /* background-position: left; */
    background-repeat: no-repeat;
}

.logo-pass {
    width: 120px;
    height: auto;
    position: absolute;
    top: 10px;
    right: 10px;
}

.forger-pass {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: var(--color-white);
}

.forget-pass-card {
    width: 100%;
    max-width: 620px;
}

.forger-pass .forget-pass-card .main-container .form-group {
    margin: 20px auto;
}

.forger-pass .forget-pass-card .main-container .login-box-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.forger-pass .forget-pass-card .main-container .login-box-content h2 {
    font-size: clamp(16px, 3vw, 48px);
    color: var(--color-Primary1);
}

.forger-pass .forget-pass-card .main-container .login-box-content p {
    font-size: clamp(10px, 5vw, 16px);
    color: var(--color-gray);
}

.forger-pass .forget-pass-card .main-container .ctm-btn {
    margin: 20px auto;
}

.forger-pass .forget-pass-card .main-container .form-group label {
    display: flex;
    justify-content: start;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--color-text);
}
.forger-pass .forget-pass-card .main-container .form-group .number-validate {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    max-width: 480px;
    margin: 8px auto;
    direction: ltr;
}
.forger-pass .forget-pass-card .main-container .form-group .number-validate input {
    max-width: 70px;
    margin: 0 auto;
    height: 40px;
    text-align: center;
    font-size: 24px;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
}


/* forget password end */


/* login register */

.container-login-register {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.container-login-register h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--color-Primary1);
}

.container-login-register p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
    width: 95%;
}

.container-login-register span {
    font-size: 12px;
}

.container-login-register a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container-login-register button {
    background: linear-gradient(0deg, #1A428A 0%, #48BEA0 100%);
    color: #fff;
    padding: 10px 45px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    transition: all .3s linear;
}

.container-login-register button.hidden {
    background-color: transparent;
    border-color: #fff;
}

.container-login-register button:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px #48BEA0;
}

.container-login-register form {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container-login-register input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container-login-register.active .sign-in {
    transform: translateX(100%);
}

.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container-login-register.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move {

    0%,
    49% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.social-icons {
    margin: 20px 0;
}

.social-icons a {
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
}

.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    z-index: 1000;
}

.container-login-register.active .toggle-container {
    transform: translateX(-100%);
}

.toggle {
    height: 100%;
    background: linear-gradient(0deg, #1A428A 0%, #48BEA0 100%);
    color: #fff;
    position: relative;
    left: 0;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container-login-register.active .toggle {
    /* transform: translateX(50%); */
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-200%);
}

.container-login-register.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}

.container-login-register.active .toggle-right {
    transform: translateX(200%);
}
/* login register end */