.mr-section{
    margin: 80px 0;
}

.sec-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width:  55px;
    background-color: rgba(72, 190, 160, 0.15);
    width: fit-content;
    padding: 10px;
    margin-bottom: 20px;


    h2{

        font-size: 16px;
        font-weight: bold;
        color: var(--color-Primary1);
    }
}



.fast-action {
    .fast-action-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        background-color: var(--color-white);
        border-radius: 10px;
        padding: 20px;
        cursor: pointer;
        gap: 30px;



    }


    .fast-action-item .content{

    }
    .fast-action-item .content h3 {
        transition: all .3s linear;
        color: var(--color-black);
    }
    
    .fast-action-item:hover .content h3 {
        color: var(--color-Primary1);
    }


    .fast-action-item .content .arrow-line {

        margin-top: 10px;
        width: 30%;
        display: flex;
        justify-content: end;
        align-items: center;
        position: relative;
        height: 10px;
        transition: all .3s linear;
    }

    .fast-action-item .content .arrow-line::after{
        content: "";
        position: absolute;
        top: 50%;
        bottom: 0;
        height: 1px;
        width: 96%;
        right: 0;
        transform: translateY(- 50%);
        transition: all .2s linear;
        z-index: 1;
        background-color: #000;
        left: 0;
    }
    .fast-action-item .content .arrow-line::before{
        content: "\f104";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        font-size: 10px;
        color: var(--color-black);
        transition: all .3s linear;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-47%);
        z-index: 1;
    }


    .fast-action-item .content .arrow-line i {
        font-size: 10px;
        color: var(--color-black);
        transition: all .3s linear;
    }
    .fast-action-item:hover .content .arrow-line{
        width: 100%;
    }

    .fast-action-item:hover .content .arrow-line i {
        color: var(--color-Primary1);
    }

    .fast-action-item:hover .content .arrow-line::after {
        background-color: var(--color-Primary1);
        width: 97%;
    }

    .fast-action-item:hover .content .arrow-line::before {
        color: var(--color-Primary1);
    }

    
}



/* about us */

.about-us {
    .content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .content .first-item {

        display: flex;
        flex-direction: column;
        gap: 10px;

        h2{
            font-size: 24px;
            font-weight: bold;
            color:black
        }


        p{
            font-size: 16px;
            color: var(--color-gray2);
        }

    }


    .content .second-item {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h2{
            font-size: 20px;
            font-weight: bold;
            color:black
        }

        ul{
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        li{
            display: flex;
            align-items: center;
            gap: 10px;
            
            p{
                font-size: 16px;
                color: var(--color-gray2);
            }
        }
    }



    a.ctm-btn{
        width: fit-content;
    }



    .about-us-img {
        position: relative;
        width: 100%;


        .text-content {


            display: flex;
            align-items: center;
            gap: 10px;
            padding: 45px;

            p{
                font-size: 24px;
                font-weight: bold;
                color: var(--color-Primary1);
            }
        }



        .img-container {



            img{

                border-radius: 16px;
                border: 4px solid var(--color-white);
            }



            .img-before {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }
    }
}