@media (min-width: 1400px) {}

@media (max-width: 1395px) {}

@media (max-width: 1300px) {}

@media (max-width: 1200px) {
    .nav-bar .main-container {
        width: 95%;
    }

    .nav-bar img {
        width: 100px;
        height: auto;
    }

    /* card article */
    .card-article {
        flex: 0 0 calc(100% / 3);
    }

    /* card article */
}

@media (max-width:1024px) {
    .heading-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 992px) {
    .nav-bar {
        height: 75px;
    }

    .nav-bar .main-container {
        width: 90%;
    }

    .nav-bar .btn-nav-res>a,
    .nav-bar .element {

        display: none;
    }

    .lang-btn,
    .menu-div {
        display: flex !important;
    }





    .video-bg .content {
        width: 85%;
        justify-content: start;
        margin-top: 100px;
    }


    .video-bg .sec-header {
        padding: 5px;
    }

    .video-bg .sec-header h2 {
        font-size: 12px;

    }

    .video-bg .content h1 {
        font-size: 20px;
    }



    .about-us {

        .about-us-img {
            margin: 0 auto;
        }

    }


    .articles-slider .slider-track .card-article {
        flex: 0 0 calc(100% / 2);
    }

    .contact-info {
        flex-direction: row;
        align-items: start;
        justify-content: center;
        margin-top: 20px;
    }

    .contact-form {
        padding: 30px;
    }
}

@media (max-width: 768px) {

    section {
        padding: 20px 0;
    }

    .about-us {

        .about-us-img {
            margin-left: auto;
            margin-right: 0;
        }

    }


    .our-numbers {

        .content {


            width: 95%;

        }


    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-left {
        flex-direction: column;
        gap: 10px;
    }

    .end-page {
        text-align: center;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }


}

@media (max-width: 576px) {



    .about-us {
        & .about-us-img {
            & .img-container {
                img {
                    border-radius: 16px;
                    border: 4px solid var(--color-white);
                    width: 280px;
                    height: 320px;
                    object-fit: cover;
                }



                .img-before {
                    top: -100px;

                }
            }



            .text-content {

                width: 49%;
                margin: auto 0;
                padding: 0;



                h2 {
                    font-size: 12px;
                }

                p {
                    font-size: 50px;
                }
            }
        }
    }




    .articles-slider .slider-track .card-article {
        flex: 0 0 100%;
    }
}



@media (max-width: 450px) {




    .about-us {
        & .about-us-img {
            & .img-container {

                img {
                    width: 232px;
                    height: 267px;
                }


                .img-before {
                    top: -100px;
                    width: 190px;
                    height: 121px;
                }
            }



            .text-content {

                width: 42%;
                margin: auto 0;
                padding: 0;



                h2 {
                    font-size: 11px;
                }

                p {
                    font-size: 44px;
                }
            }
        }
    }





    .our-numbers {
        .row {
            flex-direction: column;
        }


        .col-lg-4 {
            width: 100%;
        }

    }
}

@media (max-width: 375px) {

    .about-us {
        & .about-us-img {
            & .img-container {

                img {
                    width: 210px;
                    height: 240px;
                }


                .img-before {
                    top: -80px;
                    width: 160px;
                    height: 110px;
                }
            }



            .text-content {

                width: 45%;
                margin: auto 0;
                padding: 0;



                h2 {
                    font-size: 11px;
                }

                p {
                    font-size: 35px;
                }
            }
        }
    }



}
@media (max-width: 450px) {}
